agents/n8n/sentinel-secrets-scan.json
{
  "name": "Sentinel - Secrets Scan",
  "nodes": [
    {
      "id": "schedule-trigger",
      "name": "Nightly Schedule (2AM)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 220],
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 2
            }
          ]
        }
      }
    },
    {
      "id": "webhook-trigger",
      "name": "Webhook (On-Demand)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 420],
      "webhookId": "sentinel-secrets-scan",
      "parameters": {
        "httpMethod": "POST",
        "path": "sentinel-secrets-scan",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "run-scan",
      "name": "Run Invoke-SecretsScan.ps1",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [500, 320],
      "parameters": {
        "command": "pwsh -NonInteractive -File /home/ubuntu/EasyWayDataPortal/agents/skills/security/Invoke-SecretsScan.ps1 -ScanPath /home/ubuntu/EasyWayDataPortal -Json 2>&1; echo \"EXIT_CODE:$?\""
      }
    },
    {
      "id": "parse-result",
      "name": "Parse Scan Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [720, 320],
      "parameters": {
        "jsCode": "const raw = $input.first().json.stdout || '';\nconst exitMatch = raw.match(/EXIT_CODE:(\\d+)/);\nconst exitCode = exitMatch ? parseInt(exitMatch[1]) : 99;\n\nlet report = {};\ntry {\n  const jsonMatch = raw.match(/\\{[\\s\\S]*\\}/);\n  if (jsonMatch) report = JSON.parse(jsonMatch[0]);\n} catch(e) {\n  report = { error: e.message };\n}\n\nconst summary = report.summary || {};\nreturn [{\n  json: {\n    exitCode,\n    critical: summary.critical || 0,\n    high: summary.high || 0,\n    totalFindings: summary.total_findings || 0,\n    filesScanned: summary.total_files_scanned || 0,\n    compliantScripts: summary.compliant_scripts || 0,\n    nonCompliantScripts: summary.non_compliant_scripts || 0,\n    findings: report.findings || [],\n    compliance: report.compliance || [],\n    scanTimestamp: report.scan_timestamp,\n    gitBranch: report.git_branch,\n    gitSha: report.git_sha\n  }\n}];"
      }
    },
    {
      "id": "check-critical",
      "name": "Any CRITICAL findings?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [940, 320],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "critical-check",
              "leftValue": "={{ $json.critical }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "largerThan"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "create-ado-task",
      "name": "Create ADO Security Task",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1180, 220],
      "parameters": {
        "method": "POST",
        "url": "https://dev.azure.com/EasyWayData/EasyWay-DataPortal/_apis/wit/workitems/$Task?api-version=7.1",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "microsoftAzureDevOpsApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json-patch+json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "=[{\"op\":\"add\",\"path\":\"/fields/System.Title\",\"value\":\"[SECURITY] Sentinel: {{ $json.critical }} critical secrets findings\"},{\"op\":\"add\",\"path\":\"/fields/System.Description\",\"value\":\"agent_sentinel scan at {{ $json.scanTimestamp }}\\n\\nBranch: {{ $json.gitBranch }} ({{ $json.gitSha }})\\nFiles scanned: {{ $json.filesScanned }}\\nTotal findings: {{ $json.totalFindings }} ({{ $json.critical }} CRITICAL, {{ $json.high }} HIGH)\\nGovernance: {{ $json.compliantScripts }} compliant, {{ $json.nonCompliantScripts }} violations\\n\\nRun: pwsh agents/skills/security/Invoke-SecretsScan.ps1 -OutputFormat markdown\"},{\"op\":\"add\",\"path\":\"/fields/System.Tags\",\"value\":\"security; sentinel; automated\"},{\"op\":\"add\",\"path\":\"/fields/Microsoft.VSTS.Common.Priority\",\"value\":1}]",
        "options": {}
      }
    },
    {
      "id": "log-scan",
      "name": "Log Scan Result",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [1180, 420],
      "parameters": {
        "command": "=mkdir -p /home/ubuntu/EasyWayDataPortal/agents/logs && echo '{{ JSON.stringify({ts: $json.scanTimestamp, branch: $json.gitBranch, sha: $json.gitSha, critical: $json.critical, high: $json.high, total: $json.totalFindings, compliant: $json.compliantScripts, violations: $json.nonCompliantScripts}) }}' >> /home/ubuntu/EasyWayDataPortal/agents/logs/sentinel-scan.jsonl"
      }
    },
    {
      "id": "respond-ok",
      "name": "Respond 200 OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1400, 420],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"status\": \"ok\", \"critical\": {{ $('Parse Scan Result').first().json.critical }}, \"high\": {{ $('Parse Scan Result').first().json.high }}, \"totalFindings\": {{ $('Parse Scan Result').first().json.totalFindings }}, \"filesScanned\": {{ $('Parse Scan Result').first().json.filesScanned }} }",
        "options": {
          "responseCode": 200
        }
      }
    }
  ],
  "connections": {
    "Nightly Schedule (2AM)": {
      "main": [[{"node": "Run Invoke-SecretsScan.ps1", "type": "main", "index": 0}]]
    },
    "Webhook (On-Demand)": {
      "main": [[{"node": "Run Invoke-SecretsScan.ps1", "type": "main", "index": 0}]]
    },
    "Run Invoke-SecretsScan.ps1": {
      "main": [[{"node": "Parse Scan Result", "type": "main", "index": 0}]]
    },
    "Parse Scan Result": {
      "main": [[{"node": "Any CRITICAL findings?", "type": "main", "index": 0}]]
    },
    "Any CRITICAL findings?": {
      "main": [
        [
          {"node": "Create ADO Security Task", "type": "main", "index": 0},
          {"node": "Log Scan Result", "type": "main", "index": 0}
        ],
        [
          {"node": "Log Scan Result", "type": "main", "index": 0}
        ]
      ]
    },
    "Create ADO Security Task": {
      "main": [[{"node": "Respond 200 OK", "type": "main", "index": 0}]]
    },
    "Log Scan Result": {
      "main": [[{"node": "Respond 200 OK", "type": "main", "index": 0}]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "description": "Nightly secrets scan + on-demand webhook. Runs Invoke-SecretsScan.ps1, logs results, creates ADO Task on CRITICAL findings.",
    "agent": "agent_sentinel",
    "version": "1.0.0"
  }
}
