agents/core/n8n/Templates/agent-composition-example.json
{
    "name": "Agent Composition — DBA + Chronicler",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "agent-compose",
                "options": {}
            },
            "id": "wh-agent-compose-001",
            "name": "Webhook Trigger",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                250,
                300
            ],
            "webhookId": "agent-compose-hook"
        },
        {
            "parameters": {
                "values": {
                    "string": [
                        {
                            "name": "description",
                            "value": "Two-agent composition: DBA health check → Chronicler summary"
                        },
                        {
                            "name": "domain",
                            "value": "Business"
                        },
                        {
                            "name": "owner",
                            "value": "PlatformTeam"
                        },
                        {
                            "name": "version",
                            "value": "1.0.0"
                        }
                    ],
                    "stringArray": [
                        {
                            "name": "dependencies",
                            "value": [
                                "Common/Global_Error_Handler"
                            ]
                        }
                    ]
                }
            },
            "id": "meta-compose-001",
            "name": "__METADATA__",
            "type": "n8n-nodes-base.set",
            "typeVersion": 1,
            "position": [
                470,
                300
            ],
            "notes": "🆔 Identity Card"
        },
        {
            "parameters": {
                "command": "echo '{\"agentId\":\"agent_dba\",\"action\":\"invoke\",\"prompt\":\"Run a full database health check and report any issues.\",\"preference\":\"speed_first\",\"decisionProfile\":\"moderate\",\"timeout_seconds\":120}' | pwsh -NoProfile -File /app/agents/core/tools/Invoke-N8NAgentWorkflow.ps1"
            },
            "id": "agent-node-dba-001",
            "name": "Agent: DBA Health Check",
            "type": "n8n-nodes-base.executeCommand",
            "typeVersion": 1,
            "position": [
                690,
                300
            ],
            "notes": "🤖 EasyWay Agent Node — agent_dba"
        },
        {
            "parameters": {
                "functionCode": "// Parse DBA agent output and prepare input for Chronicler\nconst dbaOutput = JSON.parse(items[0].json.stdout || '{}');\n\nreturn [{\n  json: {\n    agentId: 'agent_chronicler',\n    action: 'invoke',\n    prompt: `Summarize this health check report for management: ${JSON.stringify(dbaOutput.result)}`,\n    preference: 'cost_balanced',\n    decisionProfile: 'moderate',\n    timeout_seconds: 60\n  }\n}];"
            },
            "id": "transform-001",
            "name": "Prepare Chronicler Input",
            "type": "n8n-nodes-base.function",
            "typeVersion": 1,
            "position": [
                910,
                300
            ]
        },
        {
            "parameters": {
                "command": "echo '={{ JSON.stringify($json) }}' | pwsh -NoProfile -File /app/agents/core/tools/Invoke-N8NAgentWorkflow.ps1"
            },
            "id": "agent-node-chronicler-001",
            "name": "Agent: Chronicler Summary",
            "type": "n8n-nodes-base.executeCommand",
            "typeVersion": 1,
            "position": [
                1130,
                300
            ],
            "notes": "🤖 EasyWay Agent Node — agent_chronicler"
        },
        {
            "parameters": {
                "functionCode": "// Build Slack notification payload\nconst result = JSON.parse(items[0].json.stdout || '{}');\n\nreturn [{\n  json: {\n    text: `🏥 *DB Health Report*\\n${result.result?.output || 'No output'}\\n\\n_Generated by EasyWay Agent Pipeline_`,\n    channel: '#ops-reports'\n  }\n}];"
            },
            "id": "slack-prep-001",
            "name": "Format Slack Message",
            "type": "n8n-nodes-base.function",
            "typeVersion": 1,
            "position": [
                1350,
                300
            ]
        },
        {
            "parameters": {
                "workflowId": "Common/Global_Error_Handler"
            },
            "id": "error-handler-001",
            "name": "On_Error_Call_Global_Handler",
            "type": "n8n-nodes-base.executeWorkflow",
            "typeVersion": 1,
            "position": [
                910,
                500
            ]
        }
    ],
    "connections": {
        "Webhook Trigger": {
            "main": [
                [
                    {
                        "node": "__METADATA__",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "__METADATA__": {
            "main": [
                [
                    {
                        "node": "Agent: DBA Health Check",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Agent: DBA Health Check": {
            "main": [
                [
                    {
                        "node": "Prepare Chronicler Input",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Prepare Chronicler Input": {
            "main": [
                [
                    {
                        "node": "Agent: Chronicler Summary",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Agent: Chronicler Summary": {
            "main": [
                [
                    {
                        "node": "Format Slack Message",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    }
}